name: ubuntu24-gcc13

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: "23 3 2,12,22 * *"

env:
  GCC_VERSION: 13

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install build environment and setup tooling
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y gcc-$GCC_VERSION g++-$GCC_VERSION cpp-$GCC_VERSION libstdc++-$GCC_VERSION-dev libgtk2.0-dev python3-dev

          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-$GCC_VERSION 800
          sudo update-alternatives --install /usr/bin/c++ c++ /usr/bin/g++-$GCC_VERSION 800
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-$GCC_VERSION 800
          sudo update-alternatives --install /usr/bin/cc  cc  /usr/bin/gcc-$GCC_VERSION 800

          etc/install-ubuntu-dependencies.sh

          python3 -m venv venv

      - name: Setup conan
        run: |
          . venv/bin/activate
          pip install -r requirements.txt
          etc/conan-config.sh gcc $GCC_VERSION

      - name: Cache/Restore dependencies
        uses: actions/cache@v4
        with:
          path: ~/.conan2
          key: ${{ runner.arch }}-${{ github.workflow }}-conanfile-${{ hashFiles('**/conanfile.py') }}

      - name: Install dependencies
        run: |
          . venv/bin/activate
          etc/conan-install.sh Release -pr:a ./etc/conan/profiles/ubuntu24

      - name: Build
        run: |
          etc/cmake-config.sh Release
          etc/cmake-build.sh Release -- -j

      - name: Unit-Test C++
        run: |
          etc/install-uic-keys.sh
          build/Release/bin/ticket-decoder-test

      - name: Unit-Test Python3
        run: |
          . venv/bin/activate
          etc/python-test.sh

      - name: Archive artifacts
        if: github.ref_name == 'master'
        uses: actions/upload-artifact@v4
        with:
          name: ticket-decoder-${{ runner.arch }}-${{ github.workflow }}
          path: |
            build/Release/etc/*
            build/Release/lib/*
            build/Release/bin/*
